* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    max-width: 30rem;
    margin: 0 auto;
    background-color: rgb(224, 213, 213);
}

.carousel {
    margin: 0 auto;
}

img { 
    object-fit: cover;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    width: 8rem;
    height: 3rem;
    border-radius: 1.5rem;
    background-color: #2c2a2ae7;
    color: blanchedalmond;
    font-weight: 800;
    margin: 0 1rem;
}