* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    
}

div.carousel {
    /* background-color: red; */
    width: 40%;
    margin: 1.5rem auto;
    position: relative;
}

img { 
    height: 45vw;
    width: 80%;
    margin: 0 auto;
    object-fit: cover;
    border: 3rem solid #e4d2b9;  
    border-radius: 20%; 
}

button {
width: 3rem;
height: 3rem;
border-radius: 1.5rem;
background-color: #0a0707e7;
color: #ffebcd;
font-weight: 800;
position: absolute;
top: 300px;


}
#next {
    right: 350px;
}

#prev {
    left: 250px;
}